/** 
* Table of Contents
* 
* 1.0 - Basic Structure
* 2.0 - Shortcodes
*       2.1 - Dropcap
*       2.2 - Pushquote
*       2.3 - Pullquote        
*       2.4 - Buttons
*       2.5 - Google Map
*       2.6 - Lists    
* 3.0 - Breadcrumbs
* 4.0 - Header
* 5.0 - Posts-Pages
*       5.1 - Posts/Pages Containers
*       5.2 - Posts/Pages Social Sharing    
*       5.3 - Posts/Pages Meta Info
* 6.0 - Author-Bio Info
* 7.0 - Comments
* 8.0 - Comments Form
* 9.0 - Posts/Pages Paging Navigation
* 10.0 - Widgets
*        10.1 - Widgets List Items
*        10.2 - Tagcloud Widget
*        10.3 - Instagram Widget
*        10.4 - Twitter Widget
*        10.5 - RSS Feed Widget
*        10.6 - Related Posts Widget
*        10.7 - Calendar Widget
* -----------------------------------------------------------------------------
*/
/**
* 1.0 Basic Structure
* -----------------------------------------------------------------------------
*/
html,
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
/**
* 2.0 Shortcodes
* -----------------------------------------------------------------------------
*/
/**
* 2.1 Dropcap
* -----------------------------------------------------------------------------
*/
.dropcap {
  float: right;
  margin: 8px 0 0 15px;
}
/**
* 2.2 Pushquote
* -----------------------------------------------------------------------------
*/
.pushquote {
  float: left;
  margin-left: 0px;
  margin-right: 15px;
}
/**
* 2.3 Pullquote
* -----------------------------------------------------------------------------
*/
.pullquote {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}
/**
* 2.4 Buttons
* -----------------------------------------------------------------------------
*/
.btn i {
  margin-left: 5px;
}
/**
* 2.5 Google Map
* -----------------------------------------------------------------------------
*/
.map-container .map-info-content .list-unstyled ul {
  margin-right: 10px;
}
/**
* 2.6 Lists
* -----------------------------------------------------------------------------
*/
.list-fa li:before {
  margin-right: 0;
  margin-left: 5px;
}
/**
* 3.0 Breadcrumbs
* -----------------------------------------------------------------------------
*/
#breadcrumbs .breadcrumb > li + li::before {
  content: "";
}
#breadcrumbs .breadcrumb > li + li::after {
  font-family: 'FontAwesome';
  content: "\f101";
  padding-left: 10px;
}
/**
* 4.0 Header
* -----------------------------------------------------------------------------
*/
#header .nav-search-bar {
  left: 30px;
  right: auto;
}
#header .nav-search-bar .navbar-toggle {
  float: right;
}
#search-box {
  left: 0px;
}
.nav-pills > li {
  float: none;
}
.nav-dropdown-menu .sub-menu.dropdown-menu {
  right: 100%;
}
.nav-dropdown-menu > .nav li li,
.nav-dropdown-menu .nav > li > a,
.navbar-large .nav-dropdown-menu .nav > li > a,
.mobile.nav-dropdown-menu .nav > li > a,
.navbar-large .mobile.nav-dropdown-menu .nav > li > a {
  text-align: right;
}
@media (max-width: 992px) {
  #header .logo .logo-text,
  #header .logo .logo-text a {
    text-align: right;
  }
  #header .logo .logo-image {
    text-align: right;
  }
}
/**
* 5.0 Posts-Pages
* -----------------------------------------------------------------------------
*/
/**
* 5.1 Posts/Pages Containers
* -----------------------------------------------------------------------------
*/
#primary,
#secondary,
#masonry-primary {
  float: left !important;
}
#masonry #primary {
  float: none !important;
}
#primary.pull-left,
#secondary.pull-left,
#masonry-primary.pull-left {
  float: left !important;
}
#primary.pull-right,
#secondary.pull-right,
#masonry-primary.pull-right {
  float: right !important;
}
/**
* 5.2 Posts/Pages Social Sharing
* -----------------------------------------------------------------------------
*/
.post .post-social li {
  margin-right: 0;
  margin-left: 5px;
}
/**
* 5.3 Posts/Pages Meta Info
* -----------------------------------------------------------------------------
*/
.post .post-entry .entry-meta span[class^="fa fa-"],
.post .post-entry .entry-meta span[class^="glyphicon glyphicon-"] {
  margin-left: 4px;
  margin-right: 0;
}
.post .post-entry .entry-meta span.meta {
  margin-left: 5px;
  margin-right: 0;
}
.post .post-entry .entry-meta-tags a {
  margin-left: 4px;
  margin-right: 0;
}
/**
* 6.0 Author-Bio Info
* -----------------------------------------------------------------------------
*/
.author-avatar.pull-left,
.media > .pull-left {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 10px;
}
.author-avatar.pull-right,
.media > .pull-right {
  float: left !important;
  margin-left: 0 !important;
  margin-right: 10px;
}
.author-info .author-bio .author-link {
  display: inline-block;
}
.author-info .author-bio .author-link .fa-angle-double-right:before {
  content: "\f100";
}
/**
* 7.0 Comments
* -----------------------------------------------------------------------------
*/
.comment-list .comment-body .comment-meta,
.comment-list .comment-body .comment-meta a {
  display: inline-block;
}
/**
* 8.0 Comments Form
* -----------------------------------------------------------------------------
*/
.comment-form .logged-in-as a {
  display: inline-block;
}
/**
* 9.0 Posts/Pages Paging Navigation
* -----------------------------------------------------------------------------
*/
.pagination li > a,
.pagination li > span,
.pager li > a {
  margin: 0;
}
.post-navigation .pager li.previous {
  text-align: right;
}
.post-navigation .pager li.next {
  text-align: left;
}
.post-navigation .pager li.previous > a {
  margin: 0;
}
.post-navigation .pager li.next > a {
  margin: 0;
}
.pager li.previous > a .fa-arrow-left:before {
  content: "\f061";
}
.pager li.next > a .fa-arrow-right:before {
  content: "\f060";
}
/**
* 10.0 Widgets
* -----------------------------------------------------------------------------
*/
/**
* 10.1 Widgets List Items
* -----------------------------------------------------------------------------
*/
.widget ul li span.post-count {
  float: left;
}
.widget ul li li {
  padding-right: 10px;
  padding-left: 0;
}
/**
* 10.2 Tagcloud Widget
* -----------------------------------------------------------------------------
*/
.widget .tagcloud a {
  margin-left: 4px;
  margin-right: 0;
}
/**
* 10.3 Instagram Widget
* -----------------------------------------------------------------------------
*/
.widget.widget_instagram .instagram-item.alt-l {
  margin-left: 1%;
  margin-right: 0;
}
.widget.widget_instagram .instagram-item.alt-r {
  margin-right: 1%;
  margin-left: 0;
}
/**
* 10.4 Twitter Widget
* -----------------------------------------------------------------------------
*/
.widget.widget_twitter ul li {
  padding: 10px 30px 10px 0;
}
.widget.widget_twitter ul li:before {
  margin-right: -30px;
  margin-left: 0;
}
/**
* 10.5 RSS Feed Widget
* -----------------------------------------------------------------------------
*/
.widget.widget_rss .widget-title a:before {
  content: "";
}
.widget.widget_rss .widget-title a:after {
  font-family: 'FontAwesome';
  content: "\f09e";
  padding-left: 5px;
  padding-right: 0;
}
/**
* 10.6 Related Posts Widget
* -----------------------------------------------------------------------------
*/
.widget.widget_related_posts h3.widget-title {
  float: right;
}
/**
* 10.7 Calendar Widget
* -----------------------------------------------------------------------------
*/
.widget.widget_calendar #calendar_wrap table caption {
  text-align: right;
}
.widget.widget_calendar #calendar_wrap table tfoot #prev {
  text-align: right;
}
.widget.widget_calendar #calendar_wrap table tfoot #next {
  text-align: left;
}
