<!-- Footer -->
<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 footer-copyright">
							<a href="http:/vytas.io/"> vytas.io</a>
							<ul class="social list-inline">
										<li class="social_li">
											<a class="social_link " href="https://www.facebook.com/vytas.io" target="_blank">
												<span class="fa fa-facebook"/>
											</a>
										</li>
										<li class="social_li">
											<a class="social_link " href="https://www.facebook.com/vytas.io" target="_blank">
												<span class="fa fa-twitter"/>
											</a>
										</li>
										
										<li class="social_li">
											<a class="social_link " href="https://www.linkedin.com/in/vytasr" target="_blank">
												<span class="fa fa-linkedin"/>
											</a>
										</li>
									</ul>
						</div>
						
					</div>
				</div>
			</footer>
			