<header id="header-wrapper">
				<div id="header">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="logo">
									<div class="logo-text">
										<a href="http://vytas.io/">
            								vytas.io        
            							</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="navbar-wrapper">
						<div class="navbar navbar-small dropmenu" role="banner">
							<div class="container">
								<nav id="nav-dropdown-menu1" class="nav-dropdown-menu collapse navbar-collapse">
									<ul id="menu-top-menu" class="nav">
										<li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198 dropdown">
											<a title="Home" href="/index.html" class="dropdown-toggle" aria-haspopup="true">
												Home
											</a>
										</li>
										<li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198 dropdown">
											<a title="Java" href="/categories/java/" class="dropdown-toggle" aria-haspopup="true">
												Java
											</a>
										</li>
										<li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198 dropdown">
											<a title="Bookmarks" href="index.html" class="dropdown-toggle" aria-haspopup="true">
												Bookmarks
												<span class="fa fa-angle-down"></span>
											</a>
											<ul role="menu" class="dropdown-menu" style="display: none; position: absolute;">
	
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/tools/">Tools</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/startups/">Startups</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/websites/">Websites</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/robots/">Robots</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/space/">Space</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/technologies/">Technologies</a>
	</li>
	<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174">
		<a title="Features" href="/categories/cars/">Cars</a>
	</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
