<!--NAVIGATION STYLE 1 START-->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="collapse navbar-collapse nav-text" id="navbar">
          
          <nav>
            <ul id="nav" class="nav navbar-nav">
             	<li><a href="/">Home</a></li>
			 	<li><a href="/categories/java/">Java</a></li>
			 	<li><a href="/">Startups</a></li>
              <li><a href="#">Bookmarks</a>
                <ul>
                  <li><a href="audio-post.html">Startups</a></li>
                  <li><a href="gallery-post.html">Space</a></li>
                  <li><a href="gallery-post-2.html">Auto</a></li>
                  <li><a href="link-post.html">Technologies</a></li>
                  <li><a href="quote-post.html">apps</a></li>
                </ul>
              </li>

             
            </ul>
          </nav>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </nav>
    <!--NAVIGATION STYLE 1 END-->
    
