---
layout: page
---

{% for post in site.posts %}
{% if page.category == post.category %}
<article id="post-58" class="post-58 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-featured tag-vintage">
	{% if post.header-img %}
	<figure class="post-featured-img">
    	<img src="{{ post.header-img }}" alt=" {{ post.title }}" class="img-responsive">
   </figure>       
   {% endif %}
                
    <div class="row post-entry">
        <div class="col-sm-12">
			<header class="post-header">
				<a href="{{ post.url | prepend: site.baseurl }}">
    			<h2 class="post-title">
    				{{ post.title }}
    			</h2>
    			</a>
			</header>
		</div>
		<div class="col-sm-12 entry-meta">
    		<span class="meta">
    			<span class="fa fa-file-text-o"></span>
    		</span>            
           	<span class="meta"> On <span class="date"><time class="entry-date" datetime="{{ post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%B %-d, %Y" }}</time>
                </span>
            </span>            
            <span class="meta"><span class="fa fa-folder-open-o"></span><span class="categories-links">
                                 <a href="/categories/{{post.category}}/" rel="category tag">{{post.category}}</a>
            	</span>
            </span>        
        </div>
		<div class="col-sm-12 entry-content">
			<p>
			<span style="color: #000000;">
				{{ post.excerpt }}
			</span>  
  			</p>
  			
  			{% for tag in post.tags %} <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-success"><i class="fa fa-tag"></i> {{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %} 
		</div>
    </div>
	<div class="row post-social">
    	<div class="col-sm-12">
        	<ul class="list-inline">
            	<li><a class="fa fa-facebook" onclick="window.open('http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}{{ post.url }}','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}"></a></li>
            	<li><a class="fa fa-twitter" onclick="window.open('http://twitter.com/share?url={{ site.url }}{{ post.url }}&amp;text={{post.title}}','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url={{ site.url }}{{ post.url }}&amp;text={{post.title}}"></a></li>
            	<li><a class="fa fa-google-plus" onclick="window.open('https://plus.google.com/share?url={{ site.url }}{{ post.url }}','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"></a></li>
            	<li><a class="fa fa-linkedin" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ post.url }}','Linkedin','width=863,height=500,left='+(screen.availWidth/2-431)+',top='+(screen.availHeight/2-250)+''); return false;" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ post.url }}"></a></li>
            </ul>
    	</div>
	</div>
</article>
{% endif %}
{% endfor %}
				