---
layout: default
---
<div id="primary" class="col-md-9 col-sm-12 col-xs-12">
    				{{ content }}		
    					</div>
    					
    					<div id="secondary" class="col-md-3 col-sm-12 col-xs-12">
								<aside id="text-2" class="widget widget_text">
									<h3 class="widget-title">Author Box</h3>
									<div class="textwidget">
										<div class="full-width-image">
											<img class="img-responsive" src="/images/author.jpg" alt="photo"/>
											<pre>//TODO add some personal description, like title, marital status, experience, what I expect from my life, maybe CV would fit better here ... </pre>
										</div>
									</div>
								</aside>
								
							</div>	
