---
layout: poster
---


<!--POST PAGE START-->
<section class="cp-post-type">
	<div class="container">
		<div class="col-md-12">
			<div class="box">
				<h2>
					<a href="#">{{ page.title }}</a>
				</h2>
				<div class="cp-admin-row">
					<ul>
						<li>
							<a href="/categories/{{page.category}}">
								<i class="fa fa-tags"></i>
								{{page.category}}
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-calendar"></i>
								{{ page.date | date: "%B %-d, %Y" }}
							</a>
						</li>
						{% for tag in page.tags %} 
							<li>
								<a href="/tags/{{ tag }}">
									<i class="fa fa-tag"></i> 
									{{ tag }}
								</a>  
							</li>
						{% if forloop.last != true %} {% endif %} {% endfor %} 
              
              
					</ul>
				</div>
				{% if page.header-img %}
				<div class="sound-frame">
					<a href="#">
						<img src="/{{ page.header-img }}" alt="{{ page.title }}">
					</a>
				</div>
				{% endif %}
				<style>
.bigfont-4:before {
	content: "{{ page.excerpt | strip_html |  truncatewords: 1 | split: "" | first }}";
}
</style>
				<div class="text">
					<strong class="title bigfont-4">{{ page.excerpt | strip_html}}</strong>
				</div>
				{{ content | remove: page.excerpt }}
				<div class="share-row">
					<h4>Share on</h4>
					<ul>
						<li class="color-1">
							<a onclick="window.open('http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}{{ post.url }}','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" 
								href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">
								<i class="fa fa-facebook"></i>
								Facebook
							</a>
						</li>
						<li class="color-2">
							<a onclick="window.open('http://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{page.title}}','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{page.title}}">
								<i class="fa fa-twitter"></i>
								Twitter
							</a>
						</li>
						<li class="color-3">
							<a onclick="window.open('https://plus.google.com/share?url={{ site.url }}{{ page.url }}','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">
								<i class="fa fa-google-plus"></i>
								Google+
							</a>
						</li>
						<li class="color-4">
							<a onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}','Linkedin','width=863,height=500,left='+(screen.availWidth/2-431)+',top='+(screen.availHeight/2-250)+''); return false;" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}">
								<i class="fa fa-linkedin"></i>
								Linkedin
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="box-2">
				<div class="frame">
					<a href="#">
						<img src="/images/author.jpg" alt="img" style="width: 71px">
					</a>
				</div>
				<div class="text-box">
					<h4>
						<a href="#">vytas</a>
					</h4>
					<p>Senior software engineer, software architect for java enterprise based solutions</p>
					
				</div>
			</div>
			
			<div class="next-prev-row">
				<div class="row">
					<div class="col-md-6">
						{% if page.previous.url %}
						<div class="next-box">
							
							<div class="text-box">
								<a href="{{page.previous.url}}">
									<h2>Previous Post</h2>
									<p>{{page.previous.title}}</p>
								</a>
							</div>
						</div>
						{% endif %} 
					</div>
					<div class="col-md-6">
						{% if page.next.url %} 
						<div class="prev-box">
							
							<div class="text-box">
								<a href="{{page.next.url}}">
									<h2>Next Post</h2>
									<p>{{page.next.title}}</p>
								</a>
							</div>
						</div>
						{% endif %} 
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<!--POST PAGE END-->
